body {
    background-color: black;
    width: 1200px;
    margin: auto;
}

hr {
    border: none;
    border-top: 2px dashed rgb(255, 145, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    height: 0px;
    width: 850px;
}

.header {
    margin: auto;
}

.main-content {
    width: 800px;
    margin: auto;
}

.text-1 {
    text-align: justify;
}

h1, h2, p{
    color: rgb(255, 145, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    padding: 5px;
}

h2 {
    font-size: 21px;
    font-weight: 200;
    padding: 0 5px 5px 5px ;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.main-content {
    padding: 25px;
}

.main-content h2{
    color: red;
}

.main-content p{
    color: rgb(255, 145, 0);
    padding: 5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 10px 0 0 370px;
    list-style: none;
}

li {
    display: inline-block;
}

nav ul a{
    color: rgb(14, 132, 168);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 5px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul a:hover {
    color: red;
}