body {
    background-color: black;
    width: 950px;
    margin: auto;
}

header {
    margin-top: 15px;
}

#description p {
    text-align: left;
    color: rgb(255, 226, 130);
    font-size: 35px;
    font-family: sans-serif;
}

#description2 img {
    margin-left: 230px;
}

#description2 p {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    line-height: 50px;
}