body {
    background-color: black;
    width: 70%;
    margin: auto;
}

.header {
    margin: auto;
}

.main-text {
    width: 700px;
    display: block;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    color: rgb(201, 201, 201);
    text-align: justify;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}